.navbar{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 1px 3px -2px rgb(8, 1, 39);
}

.navlogo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p{
    color: rgb(20, 22, 53);
    font-size: 1.8rem;
    font-weight: 600;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    color:rgb(82, 140, 141);
    font-size: 1.1rem;
    font-weight: 400;
}